.xy-icon{
    --xy-icon-color:inherit;
    display: inline-flex;
   justify-content: center;
   align-items: center;
   position: relative;
   color:var(--xy-icon-color);
   font-size: inherit;
}

@each $iconTheme in primary,success,info,warning,danger{
    .xy-icon--$(iconTheme){
        --xy-icon-color: var(--xy-color-$(iconTheme));
    }
}